.formateButton {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;display: flex;
  align-items: center;
  color: #0D0D0D;
  background: none;
  padding: 6px 4px;
  border: 2px solid #FFFFFF;
  cursor: pointer;

  &:hover {
    color: #0055FB;
    path {
      stroke: #0055FB;
    }

  }
  &:focus {
    border: 2px solid #45A5FF;
    border-radius: 7px;
    color: #0055FB;
    path {
      stroke: #0055FB;
    }
  }

  .title{
    display: block;
    margin-left: 11px;
  }
}