.requestField {
  display: inline-block;
  flex-direction: column;
  width: 50%;

  .label {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #999999;
    margin-top: 10px;
  }

  .textArea {
    font-family: "Fira Code";
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
    resize: none;
    padding: 10px;
  }
}