.historyElement {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 30px;
  margin-left: 10px;

  .elementNameContainer {
    margin-left: 5px;
    margin-right: 7px;
    height: 30px;

    .elementName {
      font-family: "Fira Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
    }

    .elementCopied {
      font-family: "Fira Sans";
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      border-radius: 5px;
      padding: 0px 5px 0px 5px;
      background-color: rgba(246, 246, 246, 1);
      position: relative;
      text-align: center;
      top: -19px;
      transition-property: top, opacity;
      transition-duration: 2s;
      transition-delay: 1s;

      //&_transition {
      //  top: -45px;
      //  opacity: 0.5;
      //}

    }
  }

  .dropdownComponent {
    position: static!important;

    .action:hover {
      background: rgba(0, 85, 251, 1);
      color: white;
    }
    .delete:hover {
      background: rgba(207, 44, 0, 1);
      color: white;
    }
  }

    a {
      text-decoration: none;
      color: #0D0D0D;
      font-family: "Fira Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
    }
}